body, body > div#react > div, #largeVideoContainer {
    background: none !important;
}

.tile-view .subject,
.invite-more-container,
#new-toolbox .button-group-right {
    opacity: 0 !important;
    display: none !important;
}

#sideToolbarContainer {
    height: calc(100% - 80px);
}

.blinkborder {
	animation: discoborder 1s steps(5) infinite;
}

$red: #ff2148;
$yellow: #fff345;
$green: #00c36e;
$blue: #2487ff;
$pink: #fd7ac4;

@keyframes discoborder {
    0% {
        box-shadow: 0 0 0 5px $red;
    }

    20% {
        box-shadow: 0 0 0 5px $pink;
    }

    40% {
        box-shadow: 0 0 0 5px $yellow;
    }

    60% {
        box-shadow: 0 0 0 5px $blue;
    }

    80% {
        box-shadow: 0 0 0 5px $green;
    }
}
